.favorites-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  padding: 60px;
  text-align: center;
}

.favorites-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 80px;
}

.favorites-text h1 {
  font-size: 50px;
}

.favorites-text h1 span {
  color: orange;
}

.favorites-text div p {
  font-weight: 400;
}


.favorites-text div span {
  font-size: 20px;
}

.favorites-container {
  min-height: 500px;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 60px;
}

@media screen and (max-width: 1400px) {
  .favorites-list {
    grid-template-columns: repeat(2, 1.5fr);
  }
}

@media screen and (max-width: 1200px) {
  .favorites-list {
    grid-template-columns: repeat(1, 2fr);
    place-content: center;
    padding-left: 100px;
  }
}
