.card-container {
  display: grid;
  row-gap: 3.5rem;
  width: 330px;
}

.fav-btn-card {
  border: none;
}

.card-article {
  position: relative;
  overflow: hidden;
}

.card-image {
  width: 330px;
  height: 430px;
}

.card-data {
  width: 290px;
  padding: 16px 24px;
  position: absolute;
  bottom: -80px;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  display: flex;
  align-items: center;
  transition: opacity 1s 1s;
  font-size: 10px;
  justify-content: space-between;
}

.card-article:hover .card-data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity 0.3s;
}

.card-article:hover {
  animation: remove-overflow 2s forwards;
}

.card-article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card-article:not(:hover) .card-data {
  animation: remove-data 1s forwards;
}

@keyframes show-data {
  50% {
    transform: translateY(-128px);
  }

  100% {
    transform: translateY(-112px);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-112px);
  }

  50% {
    transform: translateY(-144px);
  }

  100% {
    transform: translateY(8px);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}
