* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
}

.input-main-page {
    border: none;
    background-color: gainsboro;
    padding: 13px 10px;
    width: 50%;
    border-radius: 15px;
}

.sort-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort-container label {
    margin-right: 10px;
}

.image-list {
    display: grid;
    place-items: center;
    margin-inline: 11rem;
    padding-block: 5rem;
    grid-template-columns: repeat(3, 1fr);
}

.header-1 span {
    color: orange;
}

.gallery-text {
    text-align: center;
    margin-top: 10vh;
}

.gallery-text span {
    color: orange;
}

.others {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    width: 80%;                
    max-width: 1200px;
    gap: 16px;
    padding: 20px;    
    padding-bottom: 60px;  
    margin: 0 auto;            
}

.search-btn {
    border: none;
    background-color: gainsboro;
    padding: 6px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.flex-container {
    text-align: center;
    margin-top: 9vh;
}

.header-1 {
    font-size: 6vh;
    margin-bottom: 4vh;
}

.pagination-container {
    display: flex;
    justify-content: flex-end;
}

.search-btn:hover {
    cursor: pointer;
}

.footer {
    background-color: white;
    color: black;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.museum-logo {
    display: flex;
}

@media screen and (max-width: 1400px) {
    .image-list {
        grid-template-columns: repeat(1, 1fr);
    }
    
}

@media screen and (max-width: 1400px) {
    .others {
        grid-template-columns: repeat(2, 1.5fr);
        width: 60%;
    } 
  }

  @media screen and (max-width: 1200px) {
    .others {
        grid-template-columns: repeat(1, 2fr);
        place-content: center;
        padding-left: 100px;
    }
  }